body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(133, 164, 212);
    /* display: flex;
    justify-content: center; */
}

.container {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    text-align: center;
    align-items: center;
    display: none;
}

.gamestart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    /* border: 1px solid black; */
    height: 100vh;

    p {
        color: red;
        font-size: 30px;
    }
}

.content {
    text-align: center;
}

button {
    font-size: 20px;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 15px;
    border: none;
    background-color: rgb(133, 164, 212);
    text-decoration: underline;
    color: rgb(229, 229, 59);
}
